.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-cell-title {
  width: 14rem;
}

.table-cell-overview {
  max-width: 16rem;
}
@media (min-width: 768px) {
  .custom-font-size {
    font-size: 1rem;
  }
}



